.header{
    background: rgba(255, 200, 220, 0.7);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  }
  .nav ul {
    display: flex;        /* QUAN TRỌNG */
    flex-direction: row;  /* nằm ngang */
    gap: 20px;            /* khoảng cách giữa các mục */
    list-style: none;     /* bỏ dấu chấm */
    padding: 0;
    margin: 0;
  }
  